*.dll
*.pdb
*.state
*.exp
*.lib
*.response
*.ini
*.log
*.dmp
*.runtime-xml
*.json
*.bin
*.modules
*.target
*.res
*.old
*.pch
*.dat
*.deps
*.uhtmanifest
*.obj
*.uhtpath
*.txt
*.vcxproj
*.filters
*.tmp
*.exe
Saved/StagedBuilds/WindowsNoEditor/SingProject/Content/Paks/SingProject-WindowsNoEditor.pak
